# User-specific files
*.suo
*.user
*.sln.docstates
.idea

# VisualStudio
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

# Roslyn cache directories
*.ide/

# MSTest test Results
[Bb]uild[Ll]og.*

#NUNIT
*.VisualState.xml
TestResult.xml
